# dependencies
node_modules/

# environment variables
.env
.env.local
.env.*.local

# build output
dist/

# Vite
.vite/

# Supabase
supabase/.branches/
supabase/.temp/

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
